*.egg-info

test_data/*
models/*

dps/test_data/*

checkpoint/*

*.pyc

*.TXT

*.npz

.vscode/

*.zip

*.mp4
*.ckpt

dps/scripts/data_augmentation.py
dps/scripts/relative_transform.py 
dummy.py
segment_pcd.py
dummy-hist2.py 
analyze.ipynb 


*.exr
dps/data_gen/examples/*
run.sh

script_*
multimodal*
real*
logfile

# Data
dps/external/rpdiff/*
dps/external/rpdiff/data/*
dps/external/rpdiff/descriptions/*
dps/external/rpdiff/eval_data/*
dps/external/rpdiff/share/*

# Checkpoints
*.pth

# Build
build/*

# Logs
log.txt