Cython
numpy
pyrealsense2
diffusers
scikit-image
# lightning
wandb
open3d
python-box
einops
# timm
# cffi<=1.12.3
urdfpy
networkx
tensorboard
easydict
Ninja
future
pillow
PyYAML
jupyterlab
pandas
configargparse
ipython
tqdm
matplotlib
plotly
ipykernel
# torchmetrics[detection]
plyfile
h5py
colorhash
seaborn
numba
# pytorch-lightning
pyrootutils
hydra-core
hydra-colorlog
hydra-submitit-launcher
rich
# torch_tb_profiler
gdown
ipyfilechooser
opencv-python

# For evaluation on rpdiff
pybullet
meshcat
git+https://github.com/Improbable-AI/airobot.git@panda-2f140
mesh_to_sdf
healpy